# Ignore macOS system files
.DS_Store

# Ignore logs
*.log
*.ts

# Ignore other personal directories or files
../../.anaconda/
../../.android/
../../.ssh/
# Add any other paths that you want to ignore
node_modules
